<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=yes maximum-scale=2.2 minimum-scale=1.0">

    <link rel="stylesheet" href="../assets/css/style.min.css">

    <link rel="icon" type="image/svg+xml" href="../assets/img/favicon.svg"/>

    <meta name="description" content="Tvorba layoutu v grafickém designu. Vysvětlení pojmů margin, white-space, grid a zlatý řez.">
    <meta name="author" content="Jiří Satora">

    <title>Teorie Grafického Designu - Layout</title>
</head>
<body>
    <div class="page">
        <header class="header">
            <h2 class="header__title">Teorie Grafického Designu</h2>
            <div class="header__navigation">
                <nav class="header-navigation">
                    <ul>
                        <li><a href="../" class="header-navigation__item">Úvod</a></li>
                        <li><a href="../barvy/" class="header-navigation__item header-navigation__item--active">Tutoriál</a></li>
                    </ul>
                </nav>
                <a href="../" class="home-button">Úvod
                    <svg>
                        <use xlink:href="../assets/img/icon-sprite.svg#icon-home"></use>
                    </svg>
                </a>
            </div>
        </header>
        <div class="article">
            <div class="article__side-bar article__side-bar--left">
                <input type="checkbox" id="chapter-navigation" class="navigation-toggle-checkbox">
                <nav class="navigation">
                    <ul>
                        <li>
                            <a href="../barvy/" class="navigation__item">
                                <svg>
                                    <use xlink:href="../assets/img/icon-sprite.svg#icon-paint-format"></use>
                                </svg>
                                <span>Barvy</span>
                            </a>
                        </li>
                        <li>
                            <a href="../typografie/" class="navigation__item">
                                <svg>
                                    <use xlink:href="../assets/img/icon-sprite.svg#icon-font"></use>
                                </svg>
                                <span>Typografie</span>
                            </a>
                        </li>
                        <li>
                            <a href="../fotografie/" class="navigation__item">
                                <svg>
                                    <use xlink:href="../assets/img/icon-sprite.svg#icon-images"></use>
                                </svg>
                                <span>Fotografie</span>
                            </a>
                        </li>
                        <li>
                            <a href="../layout/" class="navigation__item navigation__item--active">
                                <svg>
                                    <use xlink:href="../assets/img/icon-sprite.svg#icon-icon-layout"></use>
                                </svg>
                                <span>Layout</span>
                            </a>
                        </li>
                        <li>
                            <a href="../logo-design/" class="navigation__item">
                                <svg>
                                    <use xlink:href="../assets/img/icon-sprite.svg#icon-pencil2"></use>
                                </svg>
                                <span>Logo Design</span>
                            </a>
                        </li>
                    </ul>
                    <label for="chapter-navigation" class="navigation-toggle-button">
                        <svg>
                            <use xlink:href="../assets/img/icon-sprite.svg#icon-circle-down"></use>
                        </svg>
                    </label>
                </nav>
            </div>
            <div class="article__content">
                <main>
                    <h1 id="layout" class="heading-primary u-mb-4">Layout</h1>
                    <p class="paragraph u-mb-4">Pojem layout znamená grafické rozložení prvků na nějaké ploše. Layout na diváka často vytváří první dojem a může určit jestli náš design bude zkoumat dál nebo jej ignorovat. Naším úkolem je layout navrhnout tak, aby byl obsah designu pro diváka snadno stravitelný a nemusel moc přemýšlet kam se má podívat.</p>
                    <h2 id="kompozice" class="heading-secondary u-mb-2">Kompozice</h2>
                    <p class="paragraph u-mb-2">Při tvorbě designu musíme určit, jak jednotlivé prvky našeho designu rozmístíme a jakou jim přidělíme vizuální váhu. Pokud se například snažíme prodat nějaký produkt, tak může být jeho obrázek v designu to hlavní. V jiných případech může být hlavním prvkem třeba text. Také musíme určit, v jakém pořadí chceme divákovi obsah designu ukázat. Podle toho jej rozmístíme tak, aby na ně v tomto pořadí divák narazil. Dále bychom měli seskupit dohromady informace, které k sobě patří, aby nebyla jedna část v horní části stránky a další dvě až třeba někde dole.</p>
                    <p class="paragraph u-mb-2">Stejně jako fotky a typografie, tak i layout může v divákovi vyvolávat různé emoce. Například perfektní zarovnání může vyvolat smysl profesionalismu a uspořádanosti.</p>
                    <p class="paragraph u-mb-4">Důležitým aspektem layoutu je také místo, odkud divák náš design začne zkoumat a co zaujme jeho pozornost jako první. Pokud máme v našem designu těchto míst více, tak divák neví kde má začít a může pro něj náš design být matoucí.</p>
                    <h2 id="margin-a-prazdne-misto" class="heading-secondary u-mb-2">Margin a prázdné místo</h2>
                    <p class="paragraph u-mb-2">Prázdné místo v designu není špatná věc. Do jisté míry dává našemu designu šanci dýchat.</p>
                    <h3 id="margin" class="heading-tertiary u-mb-1">Margin</h3>
                    <p class="paragraph u-mb-2">Pojmem margin se označuje prázdné místo kolem nějakého prvku designu. Například mezery kolem okrajů stránky je margin. Margin by měl být dostatečně velký, pokud není tak design nevypadá vůbec dobře. Často je to právě margin, který je potřeba zvětšit pro zlepšení některých designů.</p>
                    <img src="../assets/img/BadMargin.svg" alt="malý margin" class="fluid-image u-mb-2">
                    <img src="../assets/img/GoodMargin.svg" alt="vhodný margin" class="fluid-image u-mb-2">
                    <h3 id="prazdne-misto" class="heading-tertiary u-mb-1">Prázdné místo</h3>
                    <p class="paragraph u-mb-2">Prázdným místem (anglicky white space) se v designu většinou myslí mezery mezi jednotlivými prvky designu. Díky prázdnému místu má náš design šanci dýchat. Pokud máme hodně prázdného místa, tak to může vyvolávat smysl pro sebevědomí a klid. Pokud máme málo prázdného místa a prvky jsou umístěny moc těsně u sebe, tak to naopak může v divákovi vyvolat pocit úzkosti nebo urgence.</p>
                    <img src="../assets/img/GoodWhiteSpace.svg" alt="vhodný white space" class="fluid-image u-mb-4">
                    <h2 id="grid" class="heading-secondary u-mb-2">Grid</h2>
                    <p class="paragraph u-mb-2">Při tvorbě layoutu designu je dobré používat grid (mřížku). Ten nám pomáhá rovnoměrně rozmisťovat obsah designu. Často je také dobré některé rozměry designu nastavovat podle základní jednotky, kterou si pro design určíme. Můžeme si například určit, že všechno budeme dělat v inkrementech 8 pixelů. Díky tomu náš design může být více konzistentní. Není to ale pravidlo, takže klidně nemusíme používat žádnou základní jednotku pokud nechceme. Hlavně se to používá pro design webových stránek. O gridu a základní jednotce pro design webových stránek mám článek na mých <a href="https://jirkasa.github.io/web-design-tahak/grid/" target="_blank" class="link">webových stránkách o web designu</a>. Tam se o gridu můžete dozvědět více, pokud byste chtěli.</p>
                    <p class="paragraph u-mb-2">Předtím než začneme umisťovat obsah designu na stránku, tak je dobré provést blocking. Jedná se o rozvrhnutí obsahu na stránce pomocí obdelníků nebo čtverců. Pomáhá nám to ujasnit si co kde umístíme. Při blockingu je dobré udržovat všude zhruba stejné mezery. Dělá nám to design více konzistentním.</p>
                    <img src="../assets/img/Blocking.svg" alt="blocking" class="fluid-image u-mb-4">
                    <h2 id="zlaty-rez" class="heading-secondary u-mb-2">Zlatý řez</h2>
                    <p class="paragraph u-mb-2">Jako zlatý řez se označuje poměr o hodnotě přibližně 0,62 : 0,38. Pokud pomocí tohoto rozměru například rozdělíme stránku na dvě poloviny, tak to bude na diváka působit estetičtěji než kdybychom ji rozdělily například podle poměru 1 : 4. Je to proto, že se zlatý řez ve velké části vyskytuje v přírodě. Můžeme jej najít v lidském obličeji, ve stavbě květů, ulitách šneků, a tak podobně.</p>
                    <img src="../assets/img/PhotoWithSidePanelAndLeftAlignedText.svg" alt="design používající zlatý řez" class="fluid-image u-mb-2">
                    <p class="paragraph u-mb-2">Když zkusíte na internetu vyhledat 'zlatý řez', tak můžete narazit na obrázek spirály zlatého řezu. Tato spirála se dá v některých případech použít pro vytvoření layoutu. Jedná o postupné rozdělování stránky podle zlatého řezu.</p>
                    <img src="../assets/img/GoldenRatioSpiral.svg" alt="spirála zlatého řezu" class="fluid-image u-mb-4">
                    <h2 id="user-experience" class="heading-secondary u-mb-2">User Experience</h2>
                    <p class="paragraph u-mb-4">User Experience (UX) je věc, která hraje důležitou roli hlavně u webových stránek a aplikací. Snažíme se aby bylo používání našich webových stránek nebo aplikace pro uživatele co nejpříjemnější. UX se dá ale také aplikovat třeba i v tištěném designu. Většinou platí že čím méně možností, tím lepší je uživatelská zkušenost, protože uživatel není těmito možnostmi zahlcen. Pokud je to možné, tak je často dobré dělat věci co nejjednodušší.</p>
                    <a href="../logo-design/" class="button-primary">
                        <svg>
                            <use xlink:href="../assets/img/icon-sprite.svg#icon-circle-right"></use>
                        </svg>
                        <span>pokračovat na další část</span>
                    </a>
                </main>
            </div>
            <div class="article__side-bar article__side-bar--right">
                <input type="checkbox" id="page-navigation" class="page-navigation-toggle-checkbox">
                <nav class="page-navigation">
                    <label for="page-navigation" class="page-navigation-toggle-button">
                        <svg>
                            <use xlink:href="../assets/img/icon-sprite.svg#icon-circle-right"></use>
                        </svg>
                    </label>
                    <ul id="page-nav">
                        <li>
                            <a href="#layout" class="page-navigation__item">Layout</a>
                            <ul>
                                <li><a href="#kompozice" class="page-navigation__item">Kompozice</a></li>
                                <li>
                                    <a href="#margin-a-prazdne-misto" class="page-navigation__item">Margin a prázdné místo</a>
                                    <ul>
                                        <li><a href="#margin" class="page-navigation__item">Margin</a></li>
                                        <li><a href="#prazdne-misto" class="page-navigation__item">Prázdné místo</a></li>
                                    </ul>
                                </li>
                                <li><a href="#grid" class="page-navigation__item">Grid</a></li>
                                <li><a href="#zlaty-rez" class="page-navigation__item">Zlatý řez</a></li>
                                <li><a href="#user-experience" class="page-navigation__item">User Experience</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <footer class="footer">Copyright &copy; by Jiří Satora</footer>
    </div>

    <script src="../assets/js/pageNavigation.min.js"></script>
</body>
</html>