*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/domine/v17/L0xhDFMnlVwD4h3Lt9JWnbX3jG-2X5XHI10.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v28/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1y4n.ttf) format('truetype');
}
body {
  font-family: 'Open Sans', sans-serif;
}
.heading-primary {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4rem;
  color: #2f2d28;
}
.heading-secondary {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 3.6rem;
  color: #2f2d28;
}
.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.8rem;
  color: #2f2d28;
}
.heading-quaternary {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: #2f2d28;
}
.paragraph {
  font-size: 1.6rem;
  line-height: 2rem;
  color: #726f68;
}
.list {
  font-size: 1.6rem;
  line-height: 2rem;
  list-style-position: inside;
  padding-left: 1.2rem;
  color: #726f68;
}
.link:link,
.link:visited {
  color: #185ee7;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.u-mb-1 {
  margin-bottom: 0.4rem !important;
}
.u-mb-2 {
  margin-bottom: 0.8rem !important;
}
.u-mb-3 {
  margin-bottom: 1.2rem !important;
}
.u-mb-4 {
  margin-bottom: 1.6rem !important;
}
.u-mr-1 {
  margin-right: 0.4rem !important;
}
.u-mr-2 {
  margin-right: 0.8rem !important;
}
.page {
  background-color: #fff;
}
.header {
  background-color: #e7a118;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  padding: 1.6rem 2.4rem;
}
.header__title {
  font-family: 'Domine', serif;
  font-size: 4rem;
  line-height: 4rem;
  color: #2f2d28;
}
.fluid-image {
  display: block;
  max-width: 100%;
}
.fluid-image--full-width {
  width: 100%;
}
.color-control {
  width: fit-content;
}
.color-control__color {
  height: 3.2rem;
  border: 0.2rem solid #726f68;
  border-radius: 0.4rem;
  background-color: #ebe9e7;
  margin-bottom: 0.4rem;
}
.range-input {
  height: 2.2rem;
  -webkit-appearance: none;
  width: 34.8rem;
}
.range-input:focus {
  outline: none;
}
.range-input::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.8rem;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #bdb9b3;
  border-radius: 2.5rem;
  border: 0px solid #8A8A8A;
}
.range-input::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #828282;
  border: 0px solid #8A8A8A;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 0.4rem;
  background: #726f68;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.4rem;
}
.range-input:focus::-webkit-slider-runnable-track {
  background: #bdb9b3;
}
.range-input::-moz-range-track {
  width: 100%;
  height: 0.8rem;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #bdb9b3;
  border-radius: 2.5rem;
  border: 0px solid #8A8A8A;
}
.range-input::-moz-range-thumb {
  box-shadow: 0px 0px 0px #828282;
  border: 0px solid #8A8A8A;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 0.4rem;
  background: #726f68;
  cursor: pointer;
}
.range-input::-ms-track {
  width: 100%;
  height: 0.8rem;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.range-input::-ms-fill-lower {
  background: #bdb9b3;
  border: 0px solid #8A8A8A;
  border-radius: 5rem;
  box-shadow: 0px 0px 0px #000000;
}
.range-input::-ms-fill-upper {
  background: #bdb9b3;
  border: 0px solid #8A8A8A;
  border-radius: 5rem;
  box-shadow: 0px 0px 0px #000000;
}
.range-input::-ms-thumb {
  margin-top: 0.1rem;
  box-shadow: 0px 0px 0px #828282;
  border: 0px solid #8A8A8A;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 0.4rem;
  background: #726f68;
  cursor: pointer;
}
.range-input:focus::-ms-fill-lower {
  background: #bdb9b3;
}
.range-input:focus::-ms-fill-upper {
  background: #bdb9b3;
}
.input {
  font-family: inherit;
  font-size: 1.6rem;
  height: 3.2rem;
  background-color: #ebe9e7;
  border: none;
  border-radius: 0.4rem;
  padding: 0 0.4rem;
  color: #2f2d28;
  outline-color: #2f2d28;
}
.input--number {
  width: 5.2rem;
}
.input-label {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #726f68;
}
.color-meanings {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.6rem;
}
.color-meanings__color {
  font-size: 2.4rem;
  line-height: 2.8rem;
  background-color: #ebe9e7;
  border-radius: 0.4rem;
  color: #fff;
  text-transform: uppercase;
  padding: 0.8rem;
}
.color-meanings__color--dark-text {
  color: #2f2d28;
}
.color-meanings__color--with-border {
  border: 0.1rem solid #2f2d28;
}
.photo-color-board {
  width: 100%;
  max-width: 50rem;
  padding: 1.6rem;
  background-color: #ebe9e7;
  border-radius: 0.4rem;
}
.photo-color-board__photo {
  height: 35.2rem;
  margin-bottom: 1.6rem;
  border-radius: 0.4rem;
  overflow: hidden;
}
.photo-color-board__photo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.photo-color-board__colors {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.6rem;
}
.photo-color-board__color {
  height: 4.8rem;
  background-color: #bdb9b3;
  border-radius: 0.4rem;
}
.button-primary:link,
.button-primary:visited {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  color: #2f2d28;
  background-color: #e7a118;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0.4rem;
  padding: 1.6rem 2.4rem;
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  transition: all 0.1s;
}
.button-primary:hover {
  background-color: #d09116;
}
.button-primary svg {
  width: 2rem;
  height: 2rem;
  fill: #2f2d28;
}
.navigation {
  position: sticky;
  top: 0;
}
.navigation ul {
  list-style: none;
  padding: 1.6rem;
}
.navigation li:not(:last-child) {
  margin-bottom: 0.8rem;
}
.navigation__item:link,
.navigation__item:visited {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: #2f2d28;
  background-color: #bdb9b3;
  border-radius: 0.4rem;
  text-decoration: none;
  padding: 0.8rem;
  transition: all 0.1s;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.navigation__item:hover,
.navigation__item--active:link,
.navigation__item--active:visited {
  background-color: #e7a118;
}
.navigation__item svg {
  width: 2.4rem;
  height: 2.4rem;
  fill: #2f2d28;
}
.page-navigation {
  position: sticky;
  top: 0;
  padding: 1.6rem;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: auto;
  scrollbar-color: #726f68 #bdb9b3;
}
.page-navigation::-webkit-scrollbar {
  width: 1.6rem;
}
.page-navigation::-webkit-scrollbar-track {
  background: #dfdcd9;
}
.page-navigation::-webkit-scrollbar-thumb {
  background-color: #bdb9b3;
  border: 0.2rem solid #7f7c74;
  border-radius: 0.4rem;
}
.page-navigation::-webkit-scrollbar-thumb:hover {
  background-color: #b1aca5;
}
.page-navigation ul {
  padding-left: 1.8rem;
  list-style: none;
  position: relative;
}
.page-navigation > ul {
  padding-left: 0;
}
.page-navigation__item:link,
.page-navigation__item:visited {
  display: block;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.8rem;
  color: #2f2d28;
  background-color: #bdb9b3;
  text-decoration: none;
  border-radius: 0.4rem;
  transition: all 0.1s;
  padding: 0.4rem 0.8rem;
  margin-bottom: 0.8rem;
  position: relative;
}
.page-navigation__item:hover,
.page-navigation__item--highlighted:link,
.page-navigation__item--highlighted:visited {
  background-color: #e7a118;
}
.page-navigation__horizontal-pipe {
  width: 1rem;
  height: 0.2rem;
  background-color: #185ee7;
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  border-bottom-left-radius: 0.4rem;
}
.page-navigation__vertical-pipe {
  width: 0.2rem;
  background-color: #185ee7;
  position: absolute;
  top: -0.8rem;
  left: 0.8rem;
  border-bottom-left-radius: 0.4rem;
}
.article {
  display: flex;
}
.article__side-bar {
  flex: 0 0 22.7rem;
  background-color: #ebe9e7;
}
.article__side-bar--right {
  flex: 0 0 28rem;
}
.article__content {
  flex: 2;
  padding: 1.6rem;
}
.article__content main {
  max-width: 98.6rem;
  margin: 0 auto;
}
