@colors: {
    primary: #e7a118;
    primary-20: #faecd1;

    secondary: #185ee7;
    secondary-20: #d1dffa;

    black: #000;
    grey-80: #2f2d28;
    grey-60: #726f68;
    grey-40: #bdb9b3;
    grey-20: #ebe9e7;
    white: #fff;

    bg-white: #fff;
    bg-grey-20: #ebe9e7;

    text-black: #000;
    text-grey-80: #2f2d28;
    text-grey-60: #726f68;
    text-grey-40: #bdb9b3;
    text-grey-20: #ebe9e7;
    text-white: #fff;
    text-primary: #e7a118;
    text-secondary: #185ee7;
}

@header-navigation-breakpoint: #pxToEm(470)[];
@chapter-navigation-breakpoint: #pxToEm(1300)[];
@page-navigation-breakpoint: #pxToEm(850)[];

@max-page-width: 160rem;