.header {
    background-color: @colors[primary];

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 8rem;

    padding: 1.6rem 2.4rem;

    &__title {
        // font-family: 'Domine', serif;
        font-weight: 600;
        font-size: 4rem;
        line-height: 4rem;

        color: @colors[text-grey-80];
    }

    &__navigation {

    }
}