.color-meanings {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.6rem;

    &__color {
        font-size: 2.4rem;
        line-height: 2.8rem;

        background-color: @colors[grey-20];
        border-radius: .4rem;
        color: @colors[text-white];
        text-transform: uppercase;

        padding: .8rem;

        &--dark-text {
            color: @colors[text-grey-80];
        }
        &--with-border {
            border: .1rem solid @colors[grey-80];
        }
    }
}