.color-control {
    width: fit-content;

    &__color {
        height: 3.2rem;

        border: .2rem solid @colors[grey-60];
        border-radius: .4rem;

        background-color: @colors[grey-20];

        margin-bottom: .4rem;
    }
    &__inputs {

    }
}