.navigation {
    position: sticky;
    top: 0;

    @media (max-width: @chapter-navigation-breakpoint) {
        width: 100vw;
        left: 0;
        z-index: 5;

        background-color: @colors[bg-grey-20];

        transform: translateY(-100%);
        
        transition: all .4s;
    }

    ul {
        list-style: none;
        padding: 1.6rem;
    }

    li {
        &:not(:last-child) {
            margin-bottom: .8rem;
        }
    }

    &__item {
        &:link, &:visited {
            font-size: 2.4rem;
            font-weight: 600;
            line-height: 2.4rem;

            color: @colors[text-grey-80];
            background-color: @colors[grey-40];
            border-radius: .4rem;
            text-decoration: none;

            padding: .8rem;
            
            transition: all .1s;

            display: flex;
            align-items: center;
            gap: .8rem;
        }

        &:hover, &--active:link, &--active:visited {
            background-color: @colors[primary];
        }

        svg {
            width: 2.4rem;
            height: 2.4rem;
            fill: @colors[grey-80];
        }
    }
}

.navigation-toggle-button {
    display: none;

    width: 100%;
    height: 3.2rem;
    background-color: @colors[primary];

    transform: translateY(100%);

    position: relative;

    cursor: pointer;

    transition: transform .4s, background-color .1s;

    &:hover {
        background-color: darken(@colors[primary], 5%);
    }

    svg {
        width: 2.4rem;
        height: 2.4rem;
        fill: @colors[grey-80];

        #center-pos-abs();

        transition: all .3s .4s;
    }

    @media (max-width: @chapter-navigation-breakpoint) {
        display: block;
    }
}

.navigation-toggle-checkbox {
    display: none;

    @media (max-width: @chapter-navigation-breakpoint) {
        &:checked {
            + .navigation {
                transform: translateY(0);

                .navigation-toggle-button {
                    transform: translateY(0);

                    svg {
                        transform: translate(-50%, -50%) scaleY(-1);
                    }
                }
            }
        }
    }
}